NEXT_PUBLIC_SUPABASE_URL=https://[YOUR-SUPABASE-URL].supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=[YOUR-PUBLISHABLE-KEY]

DATABASE_URL="postgresql://postgres.cejnbgwcdokelozjkict:[YOUR-PASSWORD]@aws-0-ca-central-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

DIRECT_URL="postgresql://postgres.cejnbgwcdokelozjkict:[YOUR-PASSWORD]@aws-0-ca-central-1.pooler.supabase.com:5432/postgres"